<h1>Videos#show</h1>
<p>Find me in app/views/videos/show.html.erb</p>

<section class="pt-20 pb-10 bg-gray-50 min-h-screen">
  <div class="container mx-auto px-4">
    <h1 class="text-3xl font-bold text-center text-blue-900 mb-8"><%= @video.title %></h1>

    <video controls class="w-full max-w-3xl mx-auto rounded-lg shadow-lg mb-6">
      <source src="<%= @video.file_url %>" type="video/mp4">
      Votre navigateur ne prend pas en charge la lecture vidéo.
    </video>

    <p class="text-center text-gray-700"><%= @video.description %></p>
  </div>
</section>



